
         
    <div class="container">
        <h1 class="text-center">Additional Order Information</h1>
        <h4>Product Name:</h4> 
        <h4> <?php echo $this->prodname ?></h4>
        <div class="row">
            <div class="col-lg-12">
                <table id="order-info-table" class="table table-bordered" >
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Person who completed the order</th>
                    <th>Payment Method</th>
                    <th>Email Address</th>
                    <th>Telephone Number</th>
                    <th>Date of Purchase</th>  
                    <th>IP Address</th> 

                </tr>
            </thead>
                <tbody>
         

                <?php foreach($this->moreOrderInfo as $moreOrderinfo): ?>
                <tr>
                    <td><?php echo $moreOrderinfo['customers_company'];?></td> 
                    <td><?php echo $moreOrderinfo['customers_name'];?></td>
                    <td><?php echo $moreOrderinfo['payment_method'];?></td>
                    <td><?php echo $moreOrderinfo['customers_email_address'];?></td>
                    <td><?php echo $moreOrderinfo['customers_telephone'];?></td>
                    <td><?php $time = strtotime($moreOrderinfo['date_purchased']);
                        echo $newFormat = date("d/m/y g:i A", $time);?></td>
                    <td><?php echo $moreOrderinfo['ipaddy'];?></td>
                <?php endforeach; ?>  
                </tr>
              </tbody>
              
        </table>
          

            </div
            
        </div><!--End of Row-->
</div>
</div>
<script>$(document).ready(function(){ $("#order-info-table").DataTable();
    $('#hideOrder').show().addClass('active');    
});</script>
