<style>
    
 .card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}


.card:hover .btn-hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .header {
    padding: 15px 15px 0;
}

.card .category,
.card label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card .category i,
.card label i {
    font-size: 16px;
}

.card label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}


.card .description {
    font-size: 14px;
    color: #333;
}

.card .footer {
    padding: 0;
    background-color: transparent;
    line-height: 30px;
}

.card .footer .legend {
    padding: 5px 0;
}

.card .footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .stats {
    color: #a9a9a9;
}

.card .footer div {
    display: inline-block;
}

.card h6 {
    font-size: 12px;
    margin: 0;
}

.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
}

.card .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
}

.card .table tbody td:first-child,
.card .table thead th:first-child {
    padding-left: 15px;
}

.card .table tbody td:last-child,
.card .table thead th:last-child {
    padding-right: 15px;
}


    
</style>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <?php  
     $oneweekago = new DateTime('-1 week'); $oneweekago = $oneweekago->format('Y-m-d H:i:s'); $first_day_this_month = date('Y-m-01 H:i:s');
    ?>
    <h1 class="h2">Sales Information </h1>
    <h5 class="float-right"><small> Todays Date: <?php echo date("d-m-Y "); ?> </small></h5>
  </div>
<div class="container-fluid">
    <div class="row">
        <!-- Total Unique users Column -->
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <div class="header">
                <h4 class="title">Total Unique Customers <span data-feather="users"></span></h4>
                <?php foreach ($this->amntcustomers as $amntcustomers):  ?>
                <h4 class="title"><strong> <?php echo $amntcustomers['result_count'];?></strong></h4>
              <?php endforeach;?>
                </div>
                    <div class="content">
                 <div class="footer">
                    <hr>
                    <div class="stats">
                        <a href="/icsshop/customer/customertable">
                            <button class="btn btn-outline">View customer Records</button>
                        </a>
                    </div>
                        </div>
                    </div>
                </div>
        </div><!-- Total Unique users Column end -->

        <!-- Most popular item Column -->
           <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="card">
               <div class="header">
                  <h4 class="title">Most Popular Item <span data-feather="box"></span></h4>
                   <?php foreach ($this->common as $common):  ?>
                <h4 class="title"><strong> <?php echo $common['products_name'];?></strong></h4>
                        <?php endforeach;?>				
                    </div>
                <div class="content">
                    <div class="footer">
                      <hr>
                    <div class="stats">
                        <a href="/icsshop/index/"><button class="btn btn-outline">View Orders</button></a>
                    </div>
                        </div>
                </div>
                        </div>
            </div><!-- Most popular item Column end-->
            
<!-- Most popular item Column end-->  

<!-- Sales Euro Amount Column  -->
<div class="col-md-4">
           <div class="card">
               <div class="header">
                   <!--Default values -->
                <h4 class="title" id="titlesales">Sales All Time</h4>
                <h4 class="title" ><strong id="salesvalue"><?php echo '€'. $this->all_time_sales_value;?></strong></h4>  
                
                </div>
           <div class="content">
            <div class="footer">
                <hr>
                <div class="stats form-group">
                    <label class="float-left" for="salesfilter">Choose time range</label>  
                <select class="form-control" id="salesfilter">
                    <?php foreach($this->salesarray as $k => $v): ?>
                    <option value="<?php echo $v ?>"><?php echo $k; ?></option>
                    <?php endforeach;?>
                </select>
                </div>
            </div><!--Footer End -->
           </div>
            </div>
         </div><!-- Sales Euro Amount Column end -->
         
         <!-- Graph -->
        <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title" id="graphtitle">Total Sales Each Month for the Year: <strong>2018</strong></h4>
<!--                <form action="#" method="POST">-->
<label for="graphtitle">Choose Year</label>
                    <select name="selection" class="form-control" style="width:100px;" id="yeargraph">
                        <option class="year" value="2018">2018</option>
                        <option class="year" value="2017">2017</option>
                        <option class="year" value="2016">2016</option>
                    </select>
<!--                        <input type="submit" value="submit">-->
<!--                    </form>-->
                
<!--                <p class="category">For the Current Year</p>-->
            </div>
            <div class="content">
              <canvas class="my-4" id="salesPM-chart" width="900" height="380"></canvas>
            </div>
        </div>
        </div> <!-- End of Graph -->
  </div> <!-- Row End -->
</div> <!-- Container End -->

<?php 
//Assinging the aray values for each year to display on the graph
 $items18 = $this->sales18;
 $items17 = $this->sales17;
 $items16 = $this->sales16;

 $item18 = implode(", ", $items18);
 $item17 = implode(", ", $items17);
 $item16 = implode(", ", $items16);

         ?>

<script>
    var gdata= [<?php echo $item18; ?>];
    $('#sales').show().addClass('active');

    //For the € sales column-will populate depending on dropdown option
    $('#salesfilter').on('change',function(){
         dropitem = $('#salesfilter').val();
         title = $('#salesfilter option:selected').text();
    $('#salesvalue').html('€'+dropitem);
    $('#titlesales').html(title);
    });
    
    //For the graph-will populate depending on dropdown option
    // Set the chart default to 2018 values
    var ctx = document.getElementById("salesPM-chart");
    gdata = [<?php echo $item18;?>];
                 var myChart = new Chart(ctx,  {
      
        type: 'line',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sept", "Oct", "Nov", "Dec"],
          datasets: [{
            data: gdata,
            lineTension: 0,
            backgroundColor: '#a7cbf9',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
      //On chnage function displays the graph values based on the yer selected in drop down
    $('#yeargraph').on('change',function(){
       yearvalue = $('#yeargraph').val();
         heading= "Total Sales Each Month for the Year: " + "<strong>"+yearvalue+"</stong>";
       //console.log(heading);
       $('#graphtitle').html(heading);
      //assigning the data values to the array of sales from the year 2018
       if(yearvalue==="2018"){
           gdata = [<?php echo $item18;?>];
       }else if(yearvalue==="2017"){
        //assigning the data values to the array of sales from the year 2017
           gdata = [<?php echo $item17;?>];
       }else if(yearvalue==="2016"){ 
           //assigning the data values to the array of sales from the year 2016
           gdata = [<?php echo $item16;?>];
       }
             var myChart = new Chart(ctx,  {
      
        type: 'line',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sept", "Oct", "Nov", "Dec"],
          datasets: [{
            data: gdata,
            lineTension: 0,
            backgroundColor: '#a7cbf9',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });//end of chart
    });//end of function
     

    </script>
    