<div class="container">
    <div class="jumbotron" style="border-style: solid; border-width: 2px;">
        <p class="lead" style="text-align: center;"><strong>The ICS Shop is under maintaince from today until noon Monday 22nd July</strong></p>
        <p class="lead" style="text-align: center;"><strong>For any queries please email <strong>support@ics.ie</strong> or call <strong>01 23 777 23</strong></strong></p>
    </div>
</div>
