<div class="container">  
          <h1>Orders Table</h1>
      <div class="container">
          <table id="order-table" class="table-bordered table table-striped" >
              <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Cost per Item</th>
                    <th>Amount Purchased</th>
                    <th>Total Price (includes shipping)</th>
                    <th>Info</th> 
                </tr>
              </thead>
              <tbody>
                  <?php foreach($this->orderinfo as $orderinfo): ?>
                <tr>
                    <td><?php echo $orderinfo['orders_id'];?></td> 
                    <td><?php echo $orderinfo['products_name'];?></td> 
                    <td>€<?php echo number_format((float)$orderinfo['final_price'], 2, '.',''); ?></td> 
                    <td><?php echo $orderinfo['products_quantity'];?></td>
                    <td><?php echo $orderinfo['text'];?></td>
                    <td><a class="btn btn-outline-info btn-sm m-0" href="/icsshop/information/orderinfo/orders_id/<?php echo $orderinfo['orders_id'];?>/productname/<?php echo $orderinfo['products_name']?>">More Info</a></td>
                    <?php endforeach; ?>
                </tr>
              </tbody>
            </table>
        </div> <!-- Orders Container Div -->
      </div>
<script>$(document).ready(function(){ $("#order-table").DataTable();
    $('a#orders').addClass('active');
});</script>
