
      <div class="container">  
          <h1>Customer Records </h1>
      <div class="container">
          <table id="customer-table" class=" table table-bordered table-striped">
              <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Company Name</th>
                    <th>Purchased By</th>
                    <th>Email</th> 
                    <th>Telephone</th>
                   <th>Account Status</th>
                   <th></th>
                </tr>
              </thead>
              <tbody>
                 <?php foreach($this->customers as $customer): 
                     if($customer['customers_account_approval']==="Approve"){
                         $accountStatus ="<p class='text-success'>Approved</p>";
                     }elseif ($customer['customers_account_approval']==="Pending") {
                    $accountStatus ="<p class='text-warning'>Pending</p>";
                      }else{
                     $accountStatus =$customer['customers_account_approval'];
                      };
                     
                     ?>


                <tr>
                    <td><?php echo $customer['customers_id'];?></td> 
                    <td><?php echo $customer['customers_company'];?></td> 
                    <td><?php echo $customer['customers_name'];?></td> 
                    <td><?php echo $customer['customers_email_address'];?></td> 
                    <td><?php echo $customer['customers_telephone'];?></td>
                    <td><?php echo $accountStatus ?></td>
                    <td><a class="btn btn-outline-info btn-sm m-0" href="/icsshop/customer/customerorder/customers_id/<?php echo $customer['customers_id'] ?>/name/<?php echo $customer['customers_company']?>">View Orders</a></td>
                    <?php endforeach; ?>
                </tr>
              </tbody>
            </table>
        </div><!--End of Table container --> 
      </div>
    
<script>$(document).ready(function(){ $("#customer-table").DataTable();
      $('a#customers').addClass('active');

});

</script>
