
         
    <div class="container">
        <h1 class="text-center">Orders</h1>
        <h4>Company Name: <?php echo $this->company ?></h4>
        <div class="row">
            <div class="col-lg-12">
                <table id="customer-order-table" class="table table-bordered" >
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Date Of Purchase</th>
                    <th>Name Of Product</th>
                    <th>Amount Purchased</th>
                    <th>Cost per Item </th>
                    <th>Total Price Including Shipping</th>
                </tr>
            </thead>
                <tbody>
                <?php foreach($this->customerorders as $customerOrders): ?>
                <tr>
                    <td><?php echo $customerOrders['orders_id'];?></td> 
                    <td><?php echo $customerOrders['date_purchased']; ?></td>
                    <td><?php echo $customerOrders['products_name'];?></td>
                    <td><?php echo $customerOrders['products_quantity'];?></td>
                    <td>€<?php echo number_format((float)$customerOrders['final_price'], 2, '.',''); ?></td>
                    <td><?php echo $customerOrders['text'];?></td>
                <?php endforeach; ?>  
                </tr>
              </tbody>
              
        </table>
          

            </div
            
        </div><!--End of Row-->
</div>
</div>
<script>$(document).ready(function(){ $("#customer-order-table").DataTable();
    $('#hideCustomer').show().addClass('active');
});</script>
