<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">
    
    <!-- Moved Bootstrap/Datatable css + JS to top in order to run the datatablescript without conflicts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
   
  </head>
  
  <body>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-12 col-md-12 mr-0" href="/">ICS Shop</a>               <!--  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ICS Shop</a>  -->
      
    </nav>
      <div class="container-fluid">
      <div class="row">
<!--        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
               <a id="purchases" class="nav-link" href="/icsshop/purchases/productslist">
                  <span data-feather="shopping-cart"></span>
                  Shop
                </a>
                  <li id="hideCart" class="nav-link " style="display:none"><span data-feather="arrow-right"></span>Shopping Cart</li>
                <a id="orders" class="nav-link" href="/icsshop/index">
                  <span data-feather="file"></span>
                  Orders List
                </a>
                  <li id="hideOrder" class="nav-link " style="display:none"><span data-feather="arrow-right"></span>Additional Order Info</li>
              </li>
              <li class="nav-item">
                <a id="customers" class="nav-link" href="/icsshop/customer/customertable">
                  <span data-feather="users"></span>
                  Customers
                </a>
                   
              <li id="hideCustomer" class="nav-link " style="display:none"><span data-feather="arrow-right"></span>Customers Orders</li>
              </li>
            <li class="nav-item">
                <a id="sales" class="nav-link" href="/icsshop/sales/salesinformation">
                  <span data-feather="bar-chart-2"></span>
                  Sales Information
                </a>
              </li>
            </ul>
          </div>
        </nav>-->

        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">  <!--<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">-->
         
          
<?php echo $this->layout()->content ?>
          
         
        </main>
      </div>
    </div>
      
     
 <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>