<div class="container">  
          <h1>Shopping Cart</h1>
      <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            
            <div class="table-responsive">
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Model</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                         <?php foreach($this->cart as $item): ?>
                        <tr>
                            <!--Hidden Field-->
                    <input type="hidden" name="products_id" value="<?php echo $item['products_id'] ?>">
                    <input type="hidden" name="customers_id" value="99999999">
                    <td><span data-feather="package"></span></td>
                    
                    <td id="products_name"><?php echo $item['products_name'];?></td>
                    <td id="products_model"><?php echo $item['products_model'];?></td> 
                    <td><input class="form-control" type="input" value="1" id="products_quantity"/></td>
                    <td id="products_price" class="text-right">€<?php  echo number_format((float)$item['products_price'], 2, '.',''); ?></td>
                    <?php endforeach; ?>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">€ 0</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                             <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>€<span id="final_price"><?php  echo number_format((float)$item['products_price'], 2, '.',''); ?></span></strong></td>
                        </tr>                
                    </tbody>
                </table>
            </div>
            <!-- Submit button -->
          <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12 col-md-12 text-right" id="btndiv">
                        <!--<button id="complete_btn" class="btn btn-lg btn-block btn-success text-uppercase" type="submit" data-prodid="<?php #echo $item['products_id'] ?>" data-customerid="999999" data-prodname="<?php #echo $item['products_name'];?>" data-prodmodel="<?php #echo $item['products_model'];?>" data-prodquantity="" data-prodprice="<?php #echo $item['products_price'];?>"  data-total_price="">Complete Order</button>-->
                        
                    </div>
                </div>          
            </div>
          </div>
        </div>
      </div>
</div>
<script>
        $('#hideCart').show().addClass('active');
    $('#products_quantity').keyup(function() {
    
      var q = parseInt($('#products_quantity').val());
      var p = <?php echo $item['products_price']; ?>;
      var total = q*p;
     $('#final_price').html(total);
       

});
    $('#complete_btn').on('click',function(){
        var quantity = parseInt($('#products_quantity').val());
        var totalp = parseInt($('#final_price').text());
        $('#complete_btn').attr("data-prodquantity", quantity);
        $('#complete_btn').attr("data-total_price", totalp);
        //alert($('#btndiv').html());
//        var prod_price = parseInt($('#products_price').data('prodprice'));
//        var prod_model = $('#products_model').data('prodmodel');
//        var prod_name = $('#products_name').data('prodname');
//        var final_price= parseInt($('#final_price').text());
////        alert(final_price);
//    var mydata = [];
//    mydata.push(prod_price);
//    mydata.push(prod_model);
//    mydata.push(prod_name);
//    mydata.push(final_price);

        completeOrder($(this).data() );
    });
    function completeOrder(mydata){
       // console.log(mydata);
        
        
      $.ajax({
      
        url : "/icsshop/purchases/successpurchase",
        data : mydata,
        type : 'POST',
        success : function(result) {
	//console.log(result);			
        location.href="/icsshop/purchases/orderconfirmed/products_name/<?php echo $item['products_name'];?>";
        	}
    });//End of ajax
    }
</script>
