<div class="container">  
    <h1>Your was submitted successfully </h1><br>
    <h4> Thank you for purchasing  <strong><?php echo $this->prodname; ?> </strong> </h4>
<!--    <h4>Total cost for this order was <?php #echo $this->finalprice; ?></h4>-->
    </h1>
    <a href="/icsshop/purchases/productslist">Return to product list</a>
    
</div>
<script>
        $('#hideCart').show().addClass('active');
   
</script>
