<div class="container">  
          <h1>Ics Shop</h1>
      <div class="container">
          <table id="products-table" class="table-bordered table table-striped" >
              <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>                   
                    <th>Price</th>
                    <th>Buy</th> 
                </tr>
              </thead>
              <tbody>
                  <?php foreach($this->products as $prod): ?>
                <tr>
                    <td><?php echo $prod['products_id'];?></td> 
                    <td><?php echo $prod['products_name'];?></td> 
                    <td>€<?php echo number_format((float)$prod['products_price'], 2, '.',''); ?></td> 
                    <td><a class="btn btn-outline-success btn-sm m-0" href="/icsshop/purchases/completepurchase/products_id/<?php echo $prod['products_id'];?>/customers_id/999999">Buy Now</a></td>
                    <?php endforeach; ?>
                </tr>
              </tbody>
            </table>
        </div> <!-- Orders Container Div -->
      </div>
<!--Test -->

<!--
<br>
<br>
<div class="container-fluid">
    
   
        
        <div class="row">
             Product 
            <?php #foreach($this->products as $prod): ?>
            <div class="col-xs-12 col-sm-6 col-md-4">            
                <div class="card" style="margin-bottom: 10px;">
            <div class="card-body text-center">
                <p><img class=" img-fluid" src="https://via.placeholder.com/140x100" alt="card image"></p>
                <h4 class="card-title"><?php echo $prod['products_name']; ?></h4>
                <p class="card-text">€<?php echo number_format((float)$prod['products_price'], 2, '.',''); ?></p>
                <a class="btn btn-outline-success" href="/icsshop/purchases/completepurchase/products_id/<?php echo $prod['products_id'];?>/customers_id/999999">Buy Now</a>
            </div>
            </div>
            </div>
        <?php# endforeach;?>
-->

    
<script>$(document).ready(function(){ $("#products-table").DataTable();
    $('a#purchases').addClass('active');
});</script>
